@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto&family=Russo+One&display=swap');


html, body{
    margin: 0;
    padding: 0;
    
}

img{
    height: 100vh;
    width: 100%;
}

#main{
    position: relative;
}
p>a:link,p>a:visited,p>a:hover,p>a:active {
    text-decoration: none;
    color: rgb(78, 78, 78);
  }
  
.text-block{
    position: absolute;
    top: 4vh;
    left: 50%;
    transform: translate(-50%);
    color: rgb(78, 78, 78);
    width: 70vw;
    text-transform: uppercase;
    line-height: 1;
}
.t1{
    font-size: 1.8rem;
    font-family: Russo one;
}
.t2{
    color: green;
    font-weight: bold;
    font-family: Roboto;
    font-size: 1.2rem;
}
.t3{
    font-family: Russo one;
    font-size: 1.5rem;
}
.about{
    position: absolute;
    line-height: 0.5;
    font-weight: 500;
    font-family: anton;
}
#about1{
    top: 28vh;
    left: 20.5%;
}
#about2{
    top: 28vh;
    left: 67.5%;
}
.products{
    font-family: anton;
    position: absolute;
    line-height: 1.1;
    color: rgb(81, 81, 153);
   
}
#prod1,#prod2{
text-transform: uppercase;
font-weight: 400;
color: rgb(78, 78, 78);
font-size: 1.5rem;
}
#products1{
    top: 56vh;
    left: 23%;
}
#products2{
    top: 56vh;
    left: 68.5%;
}
.footer-links{
    position: absolute;
    color: #fff;
    font-family: anton;
}
.footer-links > a,.footer-links >a:hover{
    text-decoration: none;
    color: #fff;
}
#ft1{
    top: 88vh;
    left: 22%;
}
#ft2{
    top: 88vh;
    left: 58.3%;
}
.final-link{
    position: absolute;
    font-size: 1rem;
    top: 95.5vh;
    left: 20%;
    letter-spacing: 1pt;
    font-family: Anton;
}
#zmtg1{
    font-size: 0.6rem;
    font-weight: bold;
    font-family: roboto;
}
#zmtg2{
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 1pt;
    color: rgb(0, 46, 252);
}
#zmtg3{
    font-size: 0.8rem;
}

/* image mapping with links */

.brand-top-left{
    position: absolute;
    top: 24%;
    left: 34.3%;
    height: 15vh;
    width: 8%;
    background-color: black;
    border-radius: 60%;
    opacity: 0;
}
.brand-center{
    position: absolute;
    top: 24%;
    left: 43.5%;
    height: 15vh;
    width: 13%;
    background-color: black;
    opacity: 0;
}
.brand-top-right{
    position: absolute;
    top: 24%;
    left: 58%;
    height: 15vh;
    width: 8%;
    background-color: black;
    border-radius: 60%;
    opacity: 0;
}
.brand-left{
    position: absolute;
    top: 45%;
    left: 9.8%;
    height: 18vh;
    width: 9%;
    background-color: black;

    opacity: 0;
}
.brand-right{
    position: absolute;
    top: 45%;
    left: 82%;
    height: 18vh;
    width: 9%;
    background-color: black;

    opacity: 0;
}
.download-catalog{
    position: absolute;
    top: 77%;
    left: 10%;
    height: 15vh;
    width: 9%;
    background-color: black;
    background-color: black;

    opacity: 0;
}
.chat-us{
    position: absolute;
    top: 77%;
    left: 81.5%;
    height: 15vh;
    width: 9%;    background-color: black;

    opacity: 0;
}
.zoom-meeting{
    position: absolute;
    top: 83.5vh;
    left: 51.5%;
    transform: translate(-50%);
    line-height: 0.3;
    font-family: anton;
}
.social{
    position: absolute;
    height: 5vh;
    width: 3%;    background-color: black;
    opacity: 0;
}
.facebook{
    top: 94vh;
    left: 55.5%; 
}
.insta{
    top: 94vh;
    left: 63.5%; 
}
.twitter{
    top: 94vh;
    left: 72%; 
}
.youtube{
    top: 94vh;
    left: 79%; 
}
@media (min-width:1000px) and (max-width: 1399px) {   
    .about{
        font-size: 0.8rem;
    } 
    .products{
        font-size: 0.8rem;
        letter-spacing: 1pt;
    }
    #ft1,#ft2{
        font-size: 0.9rem;
    }
    .final-link{
        font-size: 0.8rem;
    }
    .zoom-meeting{
        font-size: 0.5rem;
    }
    #zmtg1,#zmtg2,#zmtg3{
        font-size: 0.6rem;
        letter-spacing: 0;
    }
    #zmtg2{
        font-size: 0.8rem;
    }
    .footer-links{
        letter-spacing: 0.6pt;
    }
}
@media (min-width:1399px) {    
    .products{
        letter-spacing: 1pt;
    }
    .zoom-meeting{
        letter-spacing: 0.5pt;
    }
    .footer-links{
        letter-spacing: 0.6pt;
    }
}
/* tablet */
@media only screen and (max-width: 1000px) {   
    html,body{
        background-color: #f1f1f3;
    }
    #about1,#about2{
        top: 26vh;
    }
    .text-block{
        top: 5vh;
    }
    img{
        height: 95vh;
    }
    .t1{
        font-size: 1.6rem;
    }
    .t2{
        font-size: 1rem;
    }
    .t3{
        font-size: 1.2rem;
    }
    .about{
        font-size: 0.5rem;
    }
    .products{
        font-size: 0.5rem;
        line-height: 1.5;
    }
    #prod1,#prod2{
        font-size: 1rem;
    }
    #products1,#products2{
        top: 52.5vh;
        text-align: center;
    }
    #products2{
        left: 69.5%;
    }
    #ft1,#ft2{
        font-size: .6rem;
        top: 84vh;
    }
    .zoom-meeting{
        top: 78vh;
        left: 52vw;
        position: absolute;
        width: 12%;
        height: 3vh;
        font-size: 0.4rem;
        line-height: 1;
    }
    #zmtg1{
        width: 11vw;
        margin: 0 0 3px 0;
    }
    #zmtg2{
        margin: 0 10px ;
        font-size: 0.8rem;
        width: 8vw;
    }
    #zmtg3{
        margin: 0 ;
        display: none;
    }
    .final-link{
        font-size: 0.7rem;
        letter-spacing: 0.5pt;
        top: 91.5vh;
        left: 12%;
    }
}